server:
  servlet:
    contextPath: /api
spring:
  datasource:
    url: jdbc:mariadb://${DB_HOST}:${DB_PORT}/${DB_NAME}?autoReconnect=true
    username: ${DB_USER}
    password: ${DB_PW}
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MariaDBDialect
  redis:
    host: ${REDIS_HOST}
    port: ${REDIS_PORT}
    database: ${REDIS_DB}
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIN_USERNAME}
    password: ${MAIN_PW}
    transport:
      protocol: smtp
    default:
      encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: ${MAIN_SMTP_AUTH}
          timeout: 10000
          starttls:
            enable: true
---
jwt:
  secret-key:
    auth: ${JWT_AUTH_SECRET_KEY}
    api-token: ${JWT_API_SECRET_KEY}
  time:
    token: ${JWT_ACCESS_TOKEN_ALIVE_TIME}
    refresh-token: ${JWT_REFRESH_TOKEN_ALIVE_TIME}
    api-token: ${JWT_API_TOKEN_ALIVE_TIME}
header:
  name:
    api-token: ${API_TOKEN_HEADER_NAME}
cookie:
  domain:
  secure: ${COOKIE_SECURE}
  name:
    token: ${ACCESS_TOKEN_COOKIE_NAME}
    refresh-token: ${REFRESH_TOKEN_COOKIE_NAME}
  same-site: ${COOKIE_SAME_SITE}
file:
  path:
    base: ${FILE_BASE_PATH}
    public-base: ${FILE_PUBLIC_BASE_PATH}
    upload:
      profile: ${PROFILE_FILE_UPLOAD_PATH}
mail:
  from: ${MAIL_FROM}
